*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(224, 250, 215, 0.73);
  
}
h1{
    background-color:#081b31;
    color: rgb(215, 205, 205);
    height:5rem;
    line-height: 5rem;
    font-size:45px ;
}
.choice{
    height: 165px;
    width:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 5rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 4rem;
    gap: 6rem;
    color: rgba(164, 100, 237, 0.699);
    border-radius: 5rem;
    border-color:white;
}

#userscore,
#compscore{
    font-size: 4rem;
    color: cornflowerblue;
    border-radius: 1 rem;
    display: inline;
 
}

.msg-container{
    margin-top: 5rem;

  
}
#msg{
    background-color: #3971b1;
    color:white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 5rem;

  
 
}
